*,*::after,*::before{
    box-sizing: border-box;
}
html{
    box-sizing: inherit;
}
body{
    font-family: "Poppins";
}
.container{
    max-width: 943px;
    margin: 0 auto;
}

/* @media (max-width: 575.98px) { 
    .container{
        max-width: 500px;
    }
 }

@media (max-width: 767.98px) { ... }


@media (max-width: 991.98px) { ... }


@media (max-width: 1199.98px) { ... }


@media (max-width: 1399.98px) { ... } */